<header>
    <div class="logo"><a href="#">AllTheClick</a></div>
    <nav>
        <ul class="nav_links">
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">Config</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>